@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    background-color: #DDDAEF;
    color: #28104E;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 2px 3px 8px #28104E;
}

.header-title, .add-book-btn {
    background-color: white;
}

.header-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px 15px;
}

.add-book-btn {
    border: none;
}

.main {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 5px;
    background-color: white;
    box-shadow: 2px 3px 8px #28104E;
}

.book-list {
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #DDDAEF;
    box-shadow: 1px 1px 2px black;
    text-align: center;
}

.book-info {
    color: #28104E;
    border-right: 1px solid black;
    padding: 5px 15px;
}

.card:hover {
    transform: translate(-3px);
}

.card-read-status {
    width: 10%;
}

.card-title {
    width: 40%;
}

.card-author {
    width: 30%;
}

.card-pages {
    width: 15%;
}

.card-delete-btn {
    width: 5%;
    border: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-gh-link {
    text-decoration: none;
}

button:hover, a:hover {
    color: #CC5500;
    cursor: pointer;
}

.card-read-status select option {
    text-align: center;
}

.card-read-status select {
    border: none;
    text-decoration: none;
}