@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #DDDAEF;
    color: #28104E;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    margin: 10px 15px;
    background-color: white;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 2px 3px 8px #28104E;
}

.header-title, .add-book-btn {
    background-color: white;
}

.header-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px 15px;
}

.add-book-btn {
    border: none;
    font-weight: bold;
}

.main {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 15px;
    background-color: white;
    box-shadow: 2px 3px 8px #28104E;
}

.book-list {
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #DDDAEF;
    box-shadow: 1px 1px 2px black;
    text-align: center;
}

.book-info {
    color: #28104E;
    border-right: 1px solid black;
    padding: 5px 15px;
}

.card:hover {
    transform: translate(-3px);
}

.card-read-status {
    width: 10%;
}

.card-title {
    width: 40%;
}

.card-author {
    width: 30%;
}

.card-pages {
    width: 15%;
}

.card-delete-btn {
    width: 5%;
    border: none;
    background-color: #DDDAEF;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-gh-link {
    text-decoration: none;
}

button:hover, a:hover {
    color: #CC5500;
    cursor: pointer;
    font-weight: bold;
}

.card-read-status select option {
    text-align: center;
}

.card-read-status select {
    border: none;
    text-decoration: none;
    background-color: #DDDAEF;
    font-weight: bold;
}

/**** FORM AND MODAL ****/
.add-book-modal {
    position: fixed;
    background-color: hsla(0, 0%, 0%,40%);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.add-book-modal.active {
    display: flex;
}

.add-book-form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #DDDAEF;
    padding: 10px;
    width: min-content;
    z-index: 2;
    border-radius: 1rem;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 3px 8px #28104E;
    width: min-content;
}

.modal-close-btn {
    position: absolute;
    text-decoration: none;
    color: #28104E;
    align-self: flex-end;
}

.form-fieldset {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: none;
}

.form-fieldset input,
.form-fieldset select {
    margin: 5px 0px 20px 0px;
    border: 1px solid #28104E;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #28104E;
    color: #28104E;
    font-weight: bold;
    height: 1.2rem;
}

.form-fieldset select {
    height: 1.5rem;
}

.form-submit-btn {
    border: 1px solid #28104E;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #28104E;
    background-color: white;
    color: #28104E;
    font-weight: bold;
    transition: ease 0.2s;
}

.form-submit-btn:hover {
    background-color: white;
    color: #CC5500;
    border-color: #CC5500;
    transform: scale(1.05);
    box-shadow: 1px 2px 5px #CC5500;
}